

.coupon-list {
  .bottom-fixed {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    background: #fff;
    font-weight: 500;
    padding: 10px 0 15px 0;
    box-shadow: 8px 6px 11px rgba(0, 0, 0, 0.2);
    .btn {
      height: 84px;
      width: 664px;
      display: inline-block;
      border-radius: 84px;
      line-height: 84px;
      font-size: 30px;
      color: #fff;
      margin:15px 0;
      background: linear-gradient(to left, #8cc6fd, #3c92f0);
    }
    .share-btn {
      width: 440px;
      // margin-right: 20px;
    }
    .cancel-btn {
      width: 192px;
      background: #fff;
      border: 1px solid #2f89ee; /*no*/
      box-sizing: border-box;
      color:  #2f89ee;
      margin-right: 26px;
    }
  }
  .head {
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
    // position: fixed;
    // top: 0;
    background: #f7f7f7;
    width: 100%;
    font-size: 28px;
    z-index: 10;
    .shop-title {
      padding-left: 24px;
      font-weight: 500;
    }
    .shop-name {
      padding-right: 40px;
      i {
        font-size: 28px;
        color: #999;
      }
    }
  }
  .isRadius {
    border-radius: 0 0 30px 30px;
  }
  .ul-wrap {
    margin: 0px 0 140px 0;
    overflow: hidden;
    li {
      margin-bottom: 15px;
      border-radius: 30px;
      background: #fff;
      .list-wrap {
        display: flex;
        padding: 30px 0;
        // justify-content: space-around;
        .select-box {
          width: 68px;
          display: flex;
          flex-shrink: 0;
          justify-content: flex-end;
          align-items: center;
          .radio-box {
            position: relative;
            right: rem(-8);
          }
        }
        .des-box {
          padding-left: 24px;
          width: 160px;
          flex-shrink: 0;
          .cou-des {
            width:160px;
            height:160px;
            background:linear-gradient(30deg, #3c92f0, #8cc6fd);
            border-radius:20px;
            text-align: center;
            .count {
              font-size:24px;
              color: #fff;
              padding-top: 38px;
              span {
                font-size:34px;
                font-weight:bold;
                color: #fff;
              }
              .price {
                font-size:48px;
              }
              .discount {
                font-weight: 500;
                position: relative;
                top: rem(-2);
              }
              .cash-price {
                margin-left: rem(-2);
              }
            }
            .empty-tips {
              padding-top: 58px;
            }
            .tip {
              font-size:20px;
              color:rgba(255,255,255,1);
            }
          }
        }
        .cou-box {
          padding: 0 20px 0 23px;
          box-sizing: border-box;
          width: 550px;
          .direction {
            display: flex;
            justify-content: space-around;
            flex-direction: column;
            height: 175px;
            position: relative;
            top: rem(-5);
          }
          .cou-name {
            font-size:28px;
            color:rgba(51,51,51,1);
            line-height: 35px;
            // max-height: 70px;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 2;  /*要显示的行数*/
            -webkit-box-orient: vertical; /*no*/
            word-break: break-all;
          }
        }
        .cou-status {
          font-size: 24px;
          line-height: 24px;
          // margin-top: 20px;
          height: 24px;
          span {
            margin-right: 8px;
          }
        }
        .statused {
          color: #38B26E;
        }
        .sta-status {
          color: #F5831D;
        }
        .un-status {
          color: #FF5E5C;
        }
        .cou-static {
          font-size: 24px;
          color: #666666;
          line-height: 24px;
          display: flex;
          justify-content: space-between;
          .total {
          }
          .rule {
            i {
              color: #999;
              margin-left: 2px;
            }
          }
        }
      }
      .rule-wrap {
        border-top: 1px dashed #eaeaea; /*no*/
        padding: 22px 30px 24px 30px;
        line-height: 35px;
        position: relative;
        z-index: 4;
        color: #666;
        &::before {
          position: absolute;
          top: -12px;
          left: -12px;
          content: '';
          background: #f7f7f7;
          border-radius: 50%;
          width: 24px;
          height: 24px;
        }
        &::after {
          position: absolute;
          top: -12px;
          right: -12px;
          content: '';
          background: #f7f7f7;
          border-radius: 50%;
          width: 24px;
          height: 24px;
        }
      }
    }
  }
  .no-count {
    padding-top: 200px;
    width: 100%;
    text-align: center;
    img {
      width: 750px;
    }
    p {
      font-size: 28px;
      color: #333;
      text-align: center;
    }
  }
  /deep/ .mk-lm-last {
    span {
      color: #bdbdbd!important; 
    }
    color: #bdbdbd!important;
  }
  .no-more-class {
    font-size: 22px;
    color: #666;
    padding-top: 12px;
    text-align: center;
  }
  .dialog-mask {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 88px;
    background: rgba(0,0,0,0.5);
    z-index: 2;
    .dialog-content {
      background: #fff;
      ul {
        max-height: 500px;
        overflow-y: auto;
        li {
          line-height: 88px;
          color: #666;
          font-size: 28px;
          padding: 0 23px;
          display: flex;
          justify-content: space-between;
          border-bottom: 1px solid #ededed;
          .iconfontsuper {
            display: none;
          }
        }
        li.active {
          color: #fa6a68;
          .iconfontsuper {
            display: block;
          }
        }
      }
      .btn-wrap {
        height: 130px;
        display: flex;
        justify-content: center;
        align-items: center;
        div {
          display: inline-block;
          height: 68px;
          width: 300px;
          border-radius: 40px;
          text-align: center;
          line-height: 68px;
          border: 2px solid #fa6a68;
          font-size: 28px;
          color: #fa6a68;
        }
      }
    }
  }
  /deep/ .tab-head {
    padding: 15px 0 22px 0;
    background: #fff;
    box-sizing: border-box;
    width: 100%;
    .mk-tabs {
      .tabs-label {
        display: flex;
        padding: 0 190px;
        width: 100%;
        box-sizing: border-box;
        justify-content: space-between;
        .mk-tabs-item{
          .item-label-span {
            font-size: 30px;
          }
        }
        .mk-tabs-item.tab-class {
          font-weight: 500;
          .item-label-span {
            font-size: 34px;
          }
        }
        .tabs-line {
          background: #fff;
          .selected-line {
            background:linear-gradient(30deg, #3c92f0, #8cc6fd);
          }
        }
      }
    }
  }
}
.user-wrap {
  margin-top: 25px;
  padding-bottom: 30px;
}
.group-info {
  background: #fff url('~@/assets/images/card-bg.jpg')  center bottom no-repeat;
  background-size: 100% auto;
  border-radius: 30px;
  padding: 30px 30px 0 30px;
  margin: 0 24px;
  border: 4px solid #fff;
  .group-time {
    display: flex;
    justify-content: space-between;
    padding: 0 0 30px 0;
    margin-bottom: 30px;
    .group-name {
      img {
        width: 72px;
        height: 72px;
        border-radius: 50%;
        vertical-align: middle;
        margin-right: 20px;
      }
      p {
        font-size: 32px;
        color: #333;
        display: inline-block;
        vertical-align: middle;
        font-weight: 700;
      }
    }
    .time-box {
      font-size: 28px;
      color: #666;
      text-align: right;
      line-height: 72px;
      span {
        color: #ff9c31;
      }
      p {
        img {
          width: 38px;
          vertical-align: middle;
          margin-left: 6px;
          position: relative;
          top: -8px;
        }
      }
    }
  }
  .group-methods {
    padding: 0 0 30px 0;
    p {
      font-size: 28px;
      i {
        margin-left: 3px;
        font-size: 32px;
      }
    }
  }
}
.title {
  font-size: 30px;
  color: #333;
  font-weight: 700;
}
.group-type {
  margin: 28px 24px 0 24px;
  padding: 30px;
  border-radius: 30px;
  background: #fff;
  .title {
    padding-bottom: 30px;
    margin-bottom: 30px;
  }
  .icon {
    float: right;
    color: #999;
  }
  p {
    font-size: 28px;
    span {
      color: #ff9c31;
    }
  }
  .goods {
    margin: 40px 0 30px 0;
    padding-bottom: 0;
  }
  .goods-ul {
    padding: 0 30px;
    li {
      list-style-type: disc;
      font-size: 26px;
      color: #666;
      span {
        color: #000;
      }
    }
  }
}
.line {
  position: relative;
  &::before {
    content: '';
    display: block;
    position: absolute;
    height: 1px; /*no*/
    background: #eaeaea;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

.dialog-main {
  width: 600px;
  background: #fff;
  position: relative;
  // padding-bottom: 60px;
  border-radius: 30px;
  overflow: hidden;
  .title {
    width: 100%;
    line-height: 133px;
    background-image: url('~@/assets/images/dialog-bg.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    text-align: center;
    font-size: 32px;
    color: #af4305;
    font-weight: bold;
    i{
      font-size: 40px;
      margin-right: 10px;
    }
  }
  .rule-title{
    position: relative;
    padding: 0 60px;
    &::before{
      content: '';
      width: 48px;
      height: 2px;
      position: absolute;
      left: 0px;
      top: 16px;
      background: linear-gradient(90deg, transparent, #af4305);
    }
    &::after{
      width: 48px;
      height: 2px;
      content: '';
      position: absolute;
      top: 16px;
      right: 0px;
      background: linear-gradient(-90deg, transparent, #af4305);
    }
  }
  .content {
    width: 520px;
    max-height: 800px;
    overflow-y: auto;
    margin:  0 40px;
    padding: 50px 0;
    line-height: 44px;
    color: #333;
    font-size: 32px;
    border-bottom: 1px solid #ededed; /*no*/
    li {
      width: 100%;
      padding: 10px 0;
      font-size: 28px;
    }
    .sign-success{
      text-align: center;
      margin: 0 20px;
      word-break: break-all;
    }
    .rule{
      text-align: left;
    }
  }
  .btn {
    width: 275px;
    line-height: 88px;
    color: #333;
    font-size: 32px;
    font-weight: 500;
    text-align: center;
    // border: 1px solid #cccccc;
    border-radius: 44px;
    margin: 0 auto;
  }
}
.poster-pop {
  background-color: rgba(0, 0, 0, 0.6);
  ._qrcode-pop {
    width: 469px;
    // height: 859px;
    height: 700px;
    img {
      width: 469px;
      border-radius: 20px;
      display: block;
    }
    .icon-close{
      width: 50px;
      height: 70px;
      background: url('~@/assets/images/icon-close.png') no-repeat;
      background-size: 100%;
      display: block;
      margin: 0 auto;
    }
    ._qrcode-pop-txt {
      font-size: 26px;
      font-weight: 700;
      letter-spacing: 0px;
      color: #ffffff;
      text-align: center;
      margin-top: 10px;
    }
  }
}