<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>复选框</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimal-ui"
    />
    <meta name="renderer" content="webkit" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />

    <!-- js begin -->
    <script src="/common.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.21/dist/vue.js"></script>
    <script src="/common/readme.js"></script>
    <script src="/common/demo.js"></script>
    <script src="/common/code.js"></script>
    <script src="http://s1.bbgstatic.com/lib/require/2.1/require.js"></script>
    <!-- js end -->

    <style>
      [v-cloak] {
        display: none;
      }
    </style>
  </head>
  <body>
    <div id="app" v-cloak>
      <readme>
# 简介
- 复选框

# 安装
``` js
import checkbox from 'mk-ui/checkbox.js'
import 'mk-ui/checkbox.css'
import 'mk-ui/icon.css' // 小图标
Vue.use(checkbox)
```
      </readme>
      <readme># 状态</readme>
      <demo>
        <mk-checkbox v-model="checked">未选中</mk-checkbox>
        <mk-checkbox v-model="checked2">选中</mk-checkbox>
        <mk-checkbox v-model="checked3" indeterminate>部分选中</mk-checkbox>
        <mk-checkbox v-model="checked4" disabled>失效</mk-checkbox>
      </demo>
      <textarea name="code">
<mk-checkbox v-model="checked">未选中</mk-checkbox>
<mk-checkbox v-model="checked2">选中</mk-checkbox>
<mk-checkbox v-model="checked3" indeterminate>部分选中</mk-checkbox>
<mk-checkbox v-model="checked4" disabled>失效</mk-checkbox>
      </textarea>
      <readme>
# 属性
支持checkbox所有原生属性

|参数|说明|类型|可选值|默认值|
|-|-|-|-|-|
|v-model="checked"|选中 or 取消选中|boolean||false|
|disabled|失效状态|boolean|false||
|indeterminate|部分选中|boolean||false|

# 事件
支持checkbox所有原生事件

|名称|说明|参数
|-|-|-|
|change|状态改变时触发|e: 事件对象
      </readme>
    </div>
  </body>
<script>

  require.config({
    baseUrl: '/',
    paths: {
      mock: 'https://cdn.bootcss.com/Mock.js/1.0.1-beta3/mock-min', //for test
      // 'conf/button': 'http://mk-ui.com/button'
    }
  });

  require(['conf/checkbox'], function(){
    var app = new Vue({
      el: '#app',
      data: {
        checked: false,
        checked2: true,
        checked3: true,
        checked4: true
      },
      methods: {
      },
      mounted () {
      }
    })
  })

  </script>
</html>
